.logo-img img{
    height: 128px;
    margin: 5px 0 0 510px;
}

/* Div formulario */
.form-class{
    margin:  0px 0 0 10px;
}


.form-class input{
    margin-bottom: 5px;
}


.form-class h1{
    margin-bottom: 5px;
}
