/* Div central */
.container-cad{
    width: 80%;
    height: 600px;
    margin-top: 40px;
    text-align: left;
    background-color: rgb(189, 14, 40);
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
    /* background-color: rgb(65, 82, 6); */
}


/* Logo da esquerda*/
.logo-cad img{
    height: 300px;
    margin: 110px 0 0 40px;
}

/* Div da esquerda do container e suas configurações - Início */
.left{
    width: 35%;
    float: left;
    padding: 30px 0 0 55px;
}

.left p{
    color: #ffffff;
    font-size: 18px;
    opacity: 0.9;
}

.left h1{
    font-size: 30px;
}
/* Div da esquerda do container - Fim */

/* Formulário da direita do container e suas configurções - Início */
.form-class{
    width: 50%;
    float: right;
    padding-left: 20px;
    margin-top: 20px;
}

.form-class input, select, button{
    height: 41px;
    margin-top: 10px;
    padding-left: 20px;
    border-radius: 8px;
    border-style: none;
    outline-style: none;
}

.form-class input{
    width: 85%;
}

.form-class select{
    width: 44%;
}

.form-class button{
    width: 44%;
    margin: 10px  0 0 0;
    font-weight: 700;
    text-align: center;
    padding: 0;
    color: #ffffff;
    background-color: rgb(57, 57, 78);
}

#button_cancell{
    background-color: rgb(247, 14, 49);
}

#input_photo{
    width: 30%;
    height: 160px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(226, 33, 62);
}
/* Formulário - Fim */