.container-cad{
    width: 80%;
    height: 600px;
    margin-top: 20px;
    text-align: left;
    background-color: rgb(56, 70, 6);
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
    /* background-color: rgb(65, 82, 6); */
}

.a-back object{
    height: 18px;
    margin-right: 20px;
}

.a-back a{
    font-size: 16px;
    color: #D6CE15;
}

.logo-cad img{
    height: 300px;
    margin: 110px 0 0 40px;
}

.left{
    width: 35%;
    float: left;
    padding: 30px 0 0 55px;
}

.left p{
    color: #ffffff;
    font-size: 18px;
    opacity: 0.9;
}

.left h1{
    font-size: 30px;
}

.form-class{
    width: 50%;
    float: right;
    padding-left: 20px;
}

.form-class input{
    height: 41px;
    width: 85%;
    float: center;
    margin-top: 8px;
    padding-left: 20px;
    border-radius: 8px;
    border-style: none;
    outline-style: none;
}

.form-class button{
    height: 40px;
    width: 44%;
    margin: 10px  0 0 0;
    float: center;
    border-radius: 8px;
    border-style: none;
    font-weight: 600;
    color: #ffffff;
    background-color: rgb(116, 146, 5);
}

#button_cancell{
    background-color: rgb(245, 101, 49);
}

#input_photo{
    width: 30%;
    height: 160px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(116, 146, 5);
}