 /* Propriedade "a" padrão */
 a{
    font-size: 18px;
    color: rgb(240, 25, 57);
}

h1, h2, h3{
    font-weight: 400;
}


 /* Header e suas configurções - Início*/
.header{
    height: 80px;
    width: 80%;
    color: #F0F3F4;
    font-size: 24px;
    padding-left: 180px;
}

.header h3{
    margin: 0;
    margin: 80px 0 0 90px;
    display: inline-block;
}

.buttons{
    float: right;
    margin-top: 90px;
    margin-right: 60px;
}
.buttons img{
    height: 30px;
    float: left;
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    padding: 3px 3px 3px 3px;
    border-color: rgb(192, 12, 39);
}
 /* Header - Fim*/

  /* Div central - Início*/
.div-center{
    margin-left: 200px;
    margin-top: 55px;
}
/* Div central - Fim*/

  /* Div cards - Início*/
.card{
    display: inline-block;
    width: 40%;
    height: 230px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
}
.card h1{
    color: #f6f3f3;
}

.card h2{
    margin-top: 15px;
    color: rgb(230, 230, 230);
}
    .c_um{
        background-color: rgb(192, 12, 39);;
    }

    .c_dois{
        background-color: #423f3f;
    }

    .c_tres{
        background-color: #423f3f;
    }

    .c_quatro{
        background-color: rgb(192, 12, 39);;
    }

.card img{
    height: 85px;
    margin-top: 15px;
}
/* Div cards - Início*/

hr{
    display: block;
    width: 42%;
    margin: 5px 0 0 90px;
    border: solid 2px rgb(192, 12, 39);
}

 /* Imagem da esquerda - Início*/
.ilustrate img{
    height: 560px;
    margin-left: 30px;
    float: left;
}