@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

body {
    margin: 0;
    background-color:  rgb(39, 39, 54);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
a{
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transition: filter 0.2s;
}

a:hover{
    filter: brightness(90%);
}

button{
    cursor: pointer;
    outline: none;
    transition: filter 0.2s;
}

button:hover{
 filter: brightness(90%);
}


ul{
    list-style: none;
    padding: 15px 0 0 8px;
    text-align: left;
}

h1{
    margin: 0;
    font-size: 28px;
    color: #ffffff;
}

/* Container */
.container{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px 0 0 0;
}


.container h2{
    color: rgb(226, 227, 228);
    font-size: 28px; 
    text-align: left;
    margin: 65px 0 25px 55px;
}

/* Link de "voltar" */
.a-back a{
    font-size: 16px;
    font-weight: 600;
    color: rgb(223, 223, 230);
}

.a-back object{
    height: 18px;
    margin-right: 15px;
}

/* 
Fundo = gb(25, 25, 94) 
botões = rgb(116, 146, 5)
a = #D6CE15*/