/* Div Header */
.header{
    width: 100%;
}

.header img{
    height: 130px;
    margin: 10px 0 0 95px;
    float: left;
}

.header h2{
    margin-top: 75px;
    margin-left: 15px;
    font: 600 14px DM Mono, monospace;
    float: left;
    color: #F0F3F4;
}

.input_pesquisa{
    width: 50%;
    height: 35px;
    display: flex;
    border-style: none;
    margin: 25px 0 15px 50px;
    font-size: 16px;
    color: #ffffff;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(192, 12, 39);
    background-color: rgb(39, 39, 54);
}

::-webkit-input-placeholder {
    color: #F0F3F4;
}

/* Botão personalizado do header */
.botao_p{
    float: right;
    width: 60%;
    margin: 40px 80px 0 0;
} 

button{
    height: 55px;
    width: 28%;
    background-color: rgb(192, 12, 39);
    border-style: none;
    color: #ffffff;
    margin: 13px 10px 0 390px;
    border-radius: 5px;
    outline: none;
    float: left;
    font: 600 14px DM Mono, monospace;
}

.botao_p img{
    height: 35px;
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
    border-color: rgb(192, 12, 39);
    margin: 17px 5px 0 5px;
}

/* Div card */
.card{
    display: inline-block;
    width: 45%;
    height: 195px;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: solid 1px rgb(192, 12, 39);
    color: #8B9CA5;
}

.card ul{
    margin: 15px 5px 0  10px;
    float: left;
    padding: 0px 0 0 8px;
}

.card li{
    margin: 13px 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

.card h1{
    margin-right: 35px;
    color: rgb(192, 12, 39);
}

.card img{
    float: left;
    border-radius: 50%;
    height: 140px;
    width: 25%;
    margin: 10px 0 0 10px;
}

.edita_exclui {
  float: left;
  width: 100%;
  margin: 5px 0 0 180px;
}

.edita_exclui button{
    height: 27px;
    width: 20%;
    font-size: 12px;
    float: left;
    margin: 0 0 0 5px;
    background-color: rgb(115, 115, 136);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}