/* Div Header */
.header{
    width: 100%;
}

.header img{
    height: 130px;
    margin: 10px 0 0 95px;
    float: left;
}

.header h2{
  margin-top: 75px;
  margin-left: 15px;
  font-size: 20px;
  float: left;
  font-weight: 400;
  color: #F0F3F4;
}

button{
    height: 55px;
    width: 20%;
    background-color: rgb(192, 12, 39);
    border-style: none;
    color: #ffffff;
    margin: 55px 10px 0 425px;
    border-radius: 5px;
    font: 600 16px DM Mono, monospace;
}

/* Botão personalizado do header */
.botao_p{
    float: right;
    margin: 40px 110px 0 0;
}

.botao_p img{
    height: 35px;
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
    border-color: rgb(192, 12, 39);
    margin: 17px 5px 0 5px;
}

/* Div card */
.card{
    display: inline-block;
    width: 45%;
    height: 290px;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #F7F4E9;
    color: black;
    box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
}

.card img{
    float: right;
    height: 290px;
}

.card h4{
    margin: 13px 0;
    font: 600 14px DM Mono, monospace;
}

/* Caixa título(nome do atleta) */
.caixa-titulo{
    height: 47px;
    width: 62%;
    padding-top: 10px;
    background-color: rgb(192, 12, 39);
}

/* Utilidades(editar-excluir) */
.util{
    float: left;
    height: 40px;
    width: 58.6%;
}

.util img{
    float: right;
    height: 30px;
    margin: 5px 5px 0 0 ;
}

