/* Div container */
.container-log{
    width: 80%;
    height: 500px;
    margin-top: 100px;
    text-align: left;
    padding-top: 0;
    background-color: rgb(189, 14, 40);
    box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
}

/* Imagem grande de ilustração */
.logo-img img{
    height: 140px;
    margin: 10px 0 0 510px;
}

/* Div formulario */
.form-class{
    margin:  5px 0 0 10px;
    width: 45%;
}


.form-class input{
    margin-bottom: 10px;
}


.form-class h1{
    margin-bottom: 10px;
}


/* Imagem logo da direita */
.logo-login img{
    height: 500px;
    margin: 0 0 0 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.left{
    padding:  0 0 0 0;
}


a{
    margin-left: 15px;
}

.valida{
    height: 15px;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 3px;
}