<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/dashboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Team - Dashboard</title>
</head>
<body>
    <div class="header">
       <i></i><h3>Baseado no que você mais gosta </h3></i>
        <div class="buttons botao_p">
            <a href="/back-init">
                <img src="../imgs/icons/arrow.svg" alt="Botão de pesquisa" id="search"> 
            </a>
        </div>
    </div>

    <div class="ilustrate">
        <img src="../imgs/wallpp/salvowall.png" alt="">
    </div>

    <div class="main">
        <div class="div-center">
            <% favoritos.forEach(function(favorito){ %>
                <div class="card c_um">
                    <h2>Posição mais popular</h2>

                        <h1><i><%= favorito.posicao %></i></h1>

                        <img src="../imgs/icons/volleyball.svg" alt="Bola de vôlei">
                </div>

                <div class="card c_dois">
                    <h2>Seleção mais popular</h2>

                        <h1><i><%= favorito.selecao %></i></h1>

                        <img src="../imgs/icons/flag.svg" alt="">
                </div>

                <div class="card c_tres">
                    <h2>Melhor jogador(a)</h2>

                        <h1><i><%= favorito.nomeJogador %></i></h1>

                        <img src="../imgs/icons/medal.svg" alt="">
                </div>

                <div class="card c_quatro">
                    <h2>Média das notas no ranking</h2>

                        <h1><i><%= favorito.media %></i></h1>


                        <img src="../imgs/icons/podium.svg" alt="">
                </div>
                <% }); %>
        </div>        
    </div>
</body>
</html>