<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/add-alter.css">
    <link rel="stylesheet" href="../style/login.css">
    <link rel="stylesheet" href="../responsive/resp-login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Team - Login</title>
</head>
<body>
    <div class="main">
        <div class="container container-log">

            <div class="left">
                    <div class="logo-login">
                            <img src="../imgs/wallpp/female.jpg" alt="">
                    </div>
            </div>

            <div class="logo-img">
                <img src="../imgs/Logo/logo_of.png" alt="">
            </div>
            
            <form action="/autenticar" method="post" class="form-class" autocomplete="off">
                <h1>Faça seu login</h1>
                <div id="mensagemErro" class="erro">
                    <% if (locals.erros) { %>
                        <div class="erro">
                            <%= erros %>
                        </div>
                    <% } %>
                </div>
                <input type="text" id="id_user" name="id_user" placeholder="Usuário" required/>
                <input type="password" id="id_pass" name="id_pass" placeholder="Senha" required/>
       
                <button id="button_login" type="submit" onclick="cria()">Entrar</button></a>
                <a href="/add-usuario">Não possui cadastro?</a>
            </form>
        </div>
    </div>
</body>
</html>
